@tailwind base; 
@tailwind components; 
@tailwind utilities; 


html, 
body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFoUbuntu, Cantarell, Fira Sans, Doid Sans,;

}

.back{
  background-color: black;
  
}


a{
  color: inherit;
  text-decoration: none;


}

*{
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #000
}

.tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    margin: auto;
    width: 50%;
  }
  .tagcloud--item:hover {
    color: #36454F;
  }

@font-face {
  font-family: "burtons" ;
  src: url("../public/Burtons.otf");
}

.start{
  background: #000;
  opacity: 1;
  border-radius: 9999px;
  width: auto;
  height: auto;
  margin-top: 0.5rem;
  margin-right: auto;

}
.main {
font-family: Courier, monospace;
text-align: center;
padding: 2.5rem;
}
.main_text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: darkolivegreen;
  font-size: 3rem/* 48px */;
  line-height: 1;
  
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  background-color: bisque;
  padding: 10px;

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.dev {
  opacity: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
 

}
@media (min-width: 1024px) {
  .middle{

    gap: 10rem;
  }
  
}


.bulb{
  display: flex ;
  align-items: center;

}

ul.cloud {
  list-style: none;
  padding-left:200;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 100%;
}

ul.cloud a {
  /*   
  Not supported by any browser at the moment :(
  --size: attr(data-weight number); 
  */
  --size: 4;
  --color: rgb(255, 230, 0);
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
  /* 
  For different tones of a single color
  opacity: calc((15 - (9 - var(--size))) / 15); 
  */
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 10; }
ul.cloud a[data-weight="8"] { --size: 13; }
ul.cloud a[data-weight="9"] { --size: 16; }

ul[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --color: white; }
ul.cloud li:nth-child(3n+1) a { --color: rgb(255, 189, 9); }
ul.cloud li:nth-child(4n+1) a { --color: whitesmoke; }

ul.cloud a:focus {
  outline: 1px dashed;
}

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}

@media only screen and (max-width: 400px){
  .main {
    font-family: Courier, monospace;
    text-align: center;
    padding: 2.5rem;
  }

  .bulb{

    padding-top: auto; 

  }


  .main_text {
      overflow:hidden;
      letter-spacing: 2px;
      white-space: nowrap;
      box-sizing: border-box;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: whitesmoke;
      font-size: 35px;
      line-height: 1;
      
    }
    
   

    .start{
      background: transparent;
      opacity: 1;
      height: auto;
      margin-left: auto;
      margin-top: 0.5rem;
      margin-right: auto;
      width: fit-content;
      width: 400px;
    
    }
    }
    
