@tailwind base; 
@tailwind components; 
@tailwind utilities; 



html, 
body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFoUbuntu, Cantarell, Fira Sans, Doid Sans,;

}

a{
  color: inherit;
  text-decoration: none;


}

*{
  box-sizing: border-box;
}


@font-face {
  font-family: "burtons" ;
  src: url("../public/Burtons.otf");
}

.main {
font-family: Courier, monospace;
text-align: center;
padding: 2.5rem;
}
.main_text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: darkolivegreen;
  font-size: 3rem/* 48px */;
  line-height: 1;
  
}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}